.serviceBox {
  background: #eee;
  width: 112px;
  height: 32px;
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  align-items: center;
  margin-right: 4px;
  margin-left: 4px;
  border: 2px solid #00000000;
}

.serviceBox.selected {
  background-color: #b4d8ff;
  border: 2px solid #4fa4ff;
}
