.messageBox {
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  margin-right: 5px;
  margin-left: 5px;
}

.messageBox.user {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #eee;
}

.serviceTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.serviceLogo.message {
  color: #000;
  height: 30px;
  aspect-ratio: 1/1;
  margin: 3px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.messageServiceName {
  color: #000;
  flex: 1;
  display: flex;
}

.message {
  color: #000;
  width: 100%;
  flex: 1;
  display: flex;
  margin: 10px;
}